<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<style>
.center-column{
    width: 600px;
    margin: 20px auto;
    padding: 20px auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 3-px 0px rgba(0,0,0,0.75);
}
</style>

<div class="center-column">
    <h3>Callsigns Checked In</h3>
    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-primary" value="Log callsign" type="submit" name="Log callsign"></input>
    </form>
    {% for callsign in callsigns %}
        <div>
            {% if callsign.completed == True %}
            <s>{{callsign}}</s>
            {% else %}
            <span>{{callsign}}</span>
            {% endif %}
            <a href="{% url 'update' callsign.id %}">Update</a>
            <a href="{% url 'delete' callsign.id %}">Delete</a>
        </div>
    {% endfor %}
</div>